<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Django Social</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static '/css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>

	<header class="main-head">
		<nav class="main">
			<h1 id="logo">Hola</h1>
			<ul>
				{% if request.user.is_authenticated %}
				    <li><a href="{% url 'logout_view' %}">Logout</a></li>
				{% else %}
				    <li><a href="{% url 'register_view' %}">Register</a></li>
				    <li><a href="{% url 'login_view' %}">Login</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>

	{% if messages %}
	    {% for message in messages %}
		<div class="notification {{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
	{% endif %}
	<!-------------------------------------
					Navigation Bar 
	-------------------------------------->
	<div class="main">
		
		<nav class="second-nav">
			<a class="feed" href="{% url 'feed_view' %}">Inicio</a>
			{% if request.user.is_authenticated %}
			    <a class="profile" href="{% url 'profile_view' request.user.username %}">Mi Perfil</a> 
			    <a class="new" href="{% url 'post_view' %}">Crear nuevo post</a>
			{% endif %}
			
		</nav>


		{% block content %}

		{% endblock content %}



	</div>

	<footer>
		<div class="row">
			<p>Red Social</p>
		</div>
	</footer>

</body>
</html>